# Ignorer les dossiers de configuration d'IDE (JetBrains, par exemple PhpStorm)
/.idea/
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

# Fichiers spécifiques de configuration et de dépendances
db.config.ini
vendor/
composer.lock

# Ignorer les fichiers de sortie ou de compilation
/out

# Fichiers IntelliJ
*.idea
*.iml