



@media screen and (min-width: 800px){

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        background-color: #282c34;
        color: #fff;
        height: 15%;
    }

    header .espace-logo {
        width: 20%;
        height: 100%;
        text-align: left;
    }

    header .logo {
        height: 100%;
        text-align: left;
    }

    header h1 {
        width: 60%;
        text-align: center;
    }

    header .auth-buttons {
        width: 20%;
        text-align: right;
    }

    header .auth-buttons button {
        margin-left: 5px;
        padding: 5px 15px;
        background-color: #ffffff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    header .auth-buttons button:hover {
        background-color: #c0c0c0;
    }

    .playlist-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #3a3f47;
        height: 10%;
        color: #fff;
        padding-left: 10px;
    }

    #playlist-toggle {
        padding: 5px 15px;
        background-color: #ffffff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-right: 10px;
    }

    #playlist-toggle:hover {
        background-color: #c0c0c0;
    }

    .playlist-options {
        display: none;
        flex-direction: row;
        gap: 10px;
    }

    .playlist-options button {
        padding: 5px 15px;
        background-color: #ffffff;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .playlist-options button:hover {
        background-color: #c0c0c0;
    }

    main {
        flex-grow: 1;
        background-color: #f0f0f0;
        width: 100%;
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 10px;
        background-color: #282c34;
        color: #fff;
        height: 10%;
    }

    .info-playlist {
        padding-right: 15%;
    }

    .audio-player {
        display: flex;
        flex-direction: column;
        width: 300px;
    }

    .name-audio{
        margin: 10px;
    }

    .navigation-buttons {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .nav-btn {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

}

@media screen and (max-width: 800px){


}
