body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Navigation */
nav {
    background-color: #f4f4f4;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}


nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 5px;
}

nav ul li a:hover {
    color: antiquewhite;
    background-color: #3d3d3d;
}

nav ul li a:active {
    color: #0f0;
}

/* Main */
main {
    padding: 20px;
}

/* liste playlist */
.mesPl {
    text-decoration: none;
    color: #000;
    padding: 5px;
    border-radius: 5px;
}

.mesPl>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.mesPl>li {
    margin-right: 10px;
}

.mesPl>li>a {
    text-decoration: none;
    color: #000;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 5px;
}

.mesPl>a:hover {
    color: antiquewhite;
    background-color: #3d3d3d;
}



/* liste playlist */


/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
